@page "/ContainerTypes"

@inject ProtectedSessionStorage SessionStore
@inject NavigationManager NavMgr
@inject StateService StateService

@inject ISnackbar Snackbar
@using Severity = MudBlazor.Severity

<PageTitle>Container Types</PageTitle>
<MudThemeProvider IsDarkMode="StateService!.SystemState!.DarkTheme"></MudThemeProvider>
@{
    if (!StateService.IsLoggedIn)
    {
        NavMgr.NavigateTo("/");
    }
    else
    {
        if (UserService.CanUserUseApp(StateService.GetAppInfo(), StateService.UserId, "ContainerTypes") == false)
        {
            <MudAlert Severity="Severity.Error">User @StateService.UserId cannot use this App based on your Role profile.</MudAlert>
        }
        else
        {
            <MudOverlay Visible="@_isProgressOverlayVisible" DarkBackground="true" Absolute="true">
                <MudGrid>
                    <MudItem>
                        <MudText Typo="Typo.h6" Color="Color.Secondary" Align="Align.Center">@_progressMessage</MudText>
                    </MudItem>
                    <MudItem>
                        <MudProgressCircular Color="Color.Secondary" Indeterminate="true"/>
                    </MudItem>
                </MudGrid>
            </MudOverlay>

            <MudText Typo="Typo.h4" Align="Align.Center">Container Types</MudText>


            <MudTable Items="@_allContainerTypes" Dense="true" Hover="true" ReadOnly="@_rOnly" CanCancelEdit="true" Filter="new Func<ContainerTypeCodeRec, bool>(FilterFunc)"
                      @bind-SelectedItem="_selectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
                      OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
                      RowEditCommit="ItemHasBeenCommitted" IsEditRowSwitchingBlocked="false">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Container Types</MudText>
                    <MudSpacer/>
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ContainerTypeCodeRec, object>(x => x.ContainerType!)">Container Type</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ContainerTypeCodeRec, object>(x => x.Abrv!)">Abreviation</MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Container Type">@context.ContainerType</MudTd>
                    <MudTd DataLabel="Abrv.">@context.Abrv</MudTd>
                </RowTemplate>
                <RowEditingTemplate>
                    <MudTd DataLabel="Container Type">@context.ContainerType</MudTd>
                    <MudTd DataLabel="Abrv.">
                        <MudTextField @bind-Value="@context.Abrv" Required/>
                    </MudTd>
                </RowEditingTemplate>
                <PagerContent>
                    <MudTablePager/>
                </PagerContent>
            </MudTable>

            <MudText Inline="true">Selected1: @_selectedItem1.ContainerType</MudText>

            <MudExpansionPanels Style="flex: 1;">
                <MudExpansionPanel Text="Show inline-edit event log">
                    @foreach (var message in _editEvents)
                    {
                        <MudText>@message</MudText>
                    }
                    @if (_editEvents.Count > 0)
                    {
                        <div class="d-flex">
                            <MudSpacer/>
                            <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="ClearEventLog">Clear event log</MudButton>
                        </div>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    }
}



@code
{
    private bool _isProgressOverlayVisible;
    private string _progressMessage = string.Empty;
    private IEnumerable<ContainerTypeCodeRec> _allContainerTypes = new List<ContainerTypeCodeRec>(32);
    private bool _rOnly = true;

    protected override async Task OnInitializedAsync()
    {
        _progressMessage = "(Re)Initializing the App";
        _isProgressOverlayVisible = true;
        var result = await SessionStore.GetAsync<string>("User");
        if (result.Value is not {Length: > 1 }) NavMgr.NavigateTo("/");
        await SessionStore.SetAsync("CurrentApp", "ContainerTypes");
        var result2 = WasteDatService.GetContainerTypes(StateService.GetAppInfo());
        if (result2.Item1.Success) _allContainerTypes = result2.Item2;
        _isProgressOverlayVisible = false;
    }
}

@code {
    private readonly List<string> _editEvents = new();

    private string _searchString = "";
    private ContainerTypeCodeRec _selectedItem1 = new();
    private ContainerTypeCodeRec? _elementBeforeEdit;
    //private HashSet<ContainerTypeCodeRec>? _selectedItems1HashSet = new HashSet<ContainerTypeCodeRec>();

    private void ClearEventLog()
    {
        _editEvents.Clear();
    }

    private void AddEditionEvent(string message)
    {
        _editEvents.Add(message);
        StateHasChanged();
    }

    private void BackupItem(object element)
    {
        _elementBeforeEdit = new ContainerTypeCodeRec
        {
            ContainerType = ((ContainerTypeCodeRec) element).ContainerType,
            Abrv = ((ContainerTypeCodeRec) element).Abrv
        };
        AddEditionEvent($"RowEditPreview event: made a backup of Element {((ContainerTypeCodeRec) element).ContainerType}");
    }

    private void ItemHasBeenCommitted(object element)
    {
        AddEditionEvent($"RowEditCommit event: Changes to Element {((ContainerTypeCodeRec) element).ContainerType} committed");
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((ContainerTypeCodeRec) element).ContainerType = _elementBeforeEdit!.ContainerType;
        ((ContainerTypeCodeRec) element).Abrv = _elementBeforeEdit.Abrv;
        AddEditionEvent($"RowEditCancel event: Editing of Element {((ContainerTypeCodeRec) element).ContainerType} cancelled");
    }

    private bool FilterFunc(ContainerTypeCodeRec containerTypes)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (containerTypes.ContainerType.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
    // ReSharper disable once ConvertIfStatementToReturnStatement
        if (containerTypes.Abrv.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

}