@page "/ARCOSampInfo"

@using System.Globalization
@using Severity = MudBlazor.Severity

@inject ProtectedSessionStorage SessionStore
@inject NavigationManager NavMgr
@inject StateService StateService
@inject WaterDatService WaterDatService

<PageTitle>ARCO Sample Info Table</PageTitle>
<MudThemeProvider IsDarkMode="StateService!.SystemState!.DarkTheme"></MudThemeProvider>

@{
    if (!StateService.IsLoggedIn)
    {
        NavMgr.NavigateTo("/");
    }
    else
    {
        if (UserService.CanUserUseApp(StateService.GetAppInfo(), StateService.UserId, "ARCOSampInfo") == false)
        {
            <MudAlert Severity="Severity.Error">User @StateService.UserId cannot use this App based on your Role profile.</MudAlert>
        }
        else
        {
            //Page Detail

            <MudOverlay Visible="@_isProgressOverlayVisible" DarkBackground="true" Absolute="true">
                <MudGrid>
                    <MudItem>
                        <MudText Typo="Typo.h6" Color="Color.Secondary" Align="Align.Center">@_progressMessage</MudText>
                    </MudItem>
                    <MudItem>
                        <MudProgressCircular Color="Color.Secondary" Indeterminate="true"/>
                    </MudItem>
                </MudGrid>
            </MudOverlay>

            <MudText Typo="Typo.h4" Align="Align.Center">Sample Information Table</MudText>

            <MudExpansionPanels Style="flex: 1;" Elevation="4">
                <MudExpansionPanel Style="font-weight: bold" Text="Sample Info Table" IsInitiallyExpanded="true">

                    <div style="max-width: 400px; margin-left: 26px; margin-top: 20px;">
                        <MudCard Outlined="true" Elevation="4">
                            <MudCardContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Sample Date Year</MudText>
                                <MudTextField Label="Year" HelperText="Use the Year of the Sample Date" @bind-Value="_year"/>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="FillArcoSampInfo">Fill Table</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </div>

                    <MudTable Items="@_allArcoSampInfos" Hover="true" Breakpoint="Breakpoint.Sm"
                              Dense="true" Striped="true"
                              SortLabel="Sort By" Filter="new Func<ARCOSampInfoRec, bool>(FilterFunc)"
                              RowsPerPage=50 FixedHeader="true" Height="700px">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Sample Info Table</MudText>
                            <MudSpacer></MudSpacer>
                            <MudTextField @bind-Value="_searchString" Placeholder="Search Sample Info Table" Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                            </MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.HLALABID!)">HLA LAB</MudTableSortLabel>
                            </MudTh>
                            <MudTh T="int">
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.OBJID!)">Obj Id</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Permit Num</MudTh>
                            <MudTh>Order Num</MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.SAMPLEID!)">Sample Id</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Sample Type</MudTh>
                            <MudTh>Sampled By</MudTh>
                            <MudTh>Coll Date</MudTh>
                            <MudTh>Coll Time</MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.SAMPDATE)">Sample Date</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Lab Name</MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.RECDATE)">Received Date</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Comment</MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<ARCOSampInfoRec, object>(x => x.SAMPDATE)">Entered Date</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Source</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="HLALABID">@context.HLALABID</MudTd>
                            <MudTd DataLabel="OBJID">@context.OBJID</MudTd>
                            <MudTd DataLabel="PERMNUM">@context.PERMNUM</MudTd>
                            <MudTd DataLabel="ORDERNUM">@context.ORDERNUM</MudTd>
                            <MudTd DataLabel="SAMPLEID">@context.SAMPLEID</MudTd>
                            <MudTd DataLabel="SAMPTYPE">@context.SAMPTYPE</MudTd>
                            <MudTd DataLabel="SAMPBY">@context.SAMPBY</MudTd>
                            @{ var collD = @context.COLLDATE.Year != 1990 ? @context.COLLDATE.ToString("d") : ""; }
                            <MudTd DataLabel="COLLDATE">@collD</MudTd>
                            @{ var collT = @context.COLLTIME.Hour != 12 && @context.COLLTIME.Minute != 00 && @context.COLLTIME.Second != 00 ? @context.COLLTIME.ToString("T") : ""; }
                            <MudTd DataLabel="COLLTIME">@collT</MudTd>
                            @{ var sampD = @context.SAMPDATE.Year != 1990 ? @context.SAMPDATE.ToString("d") : ""; }
                            <MudTd DataLabel="SAMPDATE">@sampD</MudTd>
                            <MudTd DataLabel="LABNAME">@context.LABNAME</MudTd>
                            @{ var recD = @context.RECDATE.Year != 1990 ? @context.RECDATE.ToString("d") : ""; }
                            <MudTd DataLabel="RECDATE">@recD</MudTd>
                            <MudTd DataLabel="COMMENT">@context.COMMENT</MudTd>
                            @{ var enterD = @context.ENTERDATE.Year != 1990 ? @context.ENTERDATE.ToString("d") : ""; }
                            <MudTd DataLabel="ENTERDATE">@enterD</MudTd>
                            <MudTd DataLabel="SOURCE">@context.SOURCE</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager PageSizeOptions="new[] {50, 150, 500}"/>
                        </PagerContent>
                    </MudTable>
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    }
}


@code {
    private bool _isProgressOverlayVisible;
    private string? _progressMessage;
    private string _searchString = "";
    private string _year = "";
    private List<ARCOSampInfoRec> _allArcoSampInfos = new(100000);

    protected override async Task OnInitializedAsync()
    {
        _progressMessage = "(Re)Initializing the App";
        _isProgressOverlayVisible = true;
        var result = await SessionStore.GetAsync<string>("User");
        if (result.Value is not {Length: > 1 }) NavMgr.NavigateTo("/");
        await SessionStore.SetAsync("CurrentApp", "ARCOSampInfo");
        _year = DateTime.Now.ToString("yyyy");
        //FillArcoSampInfo();
        _isProgressOverlayVisible = false;
    }

}

@code
{
    private void FillArcoSampInfo()
    {
        _progressMessage = "(Re)Initializing the App";
        _isProgressOverlayVisible = true;
        var fromDate = $"{_year}-01-01";
        var toDate = $"{_year}-12-31";
        var allInfo = _year != "" ? WaterDatService.GetArcoSampInfo(StateService.GetAppInfo(), $"WHERE SAMPDATE BETWEEN '{fromDate}' AND '{toDate}'") : WaterDatService.GetArcoSampInfo(StateService.GetAppInfo());
        if (allInfo.Item1.Success) _allArcoSampInfos = allInfo.Item2;
        _isProgressOverlayVisible = false;
    }
}

@code
{
    private bool FilterFunc(ARCOSampInfoRec rec)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if (rec.HLALABID!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.OBJID!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.SAMPLEID!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.SAMPBY!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.SAMPTYPE!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.SAMPDATE.ToString("yyyy-MM-dd").Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.LABNAME!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (rec.COMMENT!.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;
    // ReSharper disable once ConvertIfStatementToReturnStatement
        if (rec.RECDATE.ToString(CultureInfo.InvariantCulture).Contains(_searchString))
            return true;
        return false;
    }
}