@page "/users"

@inject NavigationManager _navMgr

@using Severity = MudBlazor.Severity

@inject ProtectedSessionStorage _sessionStore
@inject StateService _stateService
@inject UserService _userService

<PageTitle>Users</PageTitle>

@{
    if (!_stateService.IsLoggedIn)
    {
        _navMgr.NavigateTo("/");
    }
    else
    {
        if (UserService.CanUserUseApp(_stateService.GetAppInfo(), _stateService.UserId, "users") == false)
        {
            <MudAlert Severity="Severity.Error">User @_stateService.UserId cannot use this App based on your Role profile.</MudAlert>
        }
        else
        {
            <MudText Typo="Typo.h4" Align="Align.Center">User Management</MudText>

            <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Style="margin-bottom: 10px">
                <MudButton @onclick="ShowAdd" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
                <MudButton @onclick="ShowDelete" StartIcon="@Icons.Material.Filled.Delete">Delete</MudButton>
                <MudButton @onclick="ShowChangePassword" StartIcon="@Icons.Material.Filled.ChangeHistory" IconColor="Color.Warning">Reset</MudButton>
                <MudButton @onclick="ShowView" StartIcon="@Icons.Material.Filled.History">Users</MudButton>
            </MudButtonGroup>

            if (_add)
            {
                <div style="max-width: 400px;">
                    <MudCard Outlined="true">
                        <MudText Typo="Typo.h5" Align="Align.Center">Add User</MudText>
                        <EditForm Model="@_addUserForm" OnValidSubmit="OnValidSubmit">
                            <DataAnnotationsValidator/>
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudCard>
                                        <MudCardContent>
                                            <MudTextField Label="Username" HelperText="Max. 30 characters"
                                                          @bind-Value="_addUserForm.Username" For="@(() => _addUserForm.Username)"/>
                                            <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                                          @bind-Value="_addUserForm.Password" For="@(() => _addUserForm.Password)" InputType="InputType.Password"/>
                                            <MudTextField Label="Password" HelperText="Repeat the password" Class="mt-3"
                                                          @bind-Value="_addUserForm.Password2" For="@(() => _addUserForm.Password2)" InputType="InputType.Password"/>
                                        </MudCardContent>
                                        <MudCardActions>
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Add User</MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            </MudGrid>
                        </EditForm>
                        <MudText >@AddErrors : @SelectedItem1.UserId</MudText>
                    </MudCard>
                </div>
            }
            if (_delete)
            {
                <MudAlert>Delete is active</MudAlert>
            }
            if (_password)
            {
                <MudAlert>Change Password is active</MudAlert>
            }
            if (_view)
            {
                <!---This is the Table View Area -->
                <div style="max-width: 400px;">
                    <MudCard Outlined="true" Elevation="2">
                        <MudCardContent>
                            <MudText Typo="Typo.h5" Align="Align.Center">Search Users</MudText>
                            <MudTextField Label="Username" HelperText="Use % for wildcard searches" @bind-Value="_username"/>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
                                       OnClick="FillTable">
                                Fill Table
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </div>

                <MudTable Items="@_elements" Dense="true" Hover="true" CanCancelEdit="true" ReadOnly="false"
                          FixedHeader="true" FixedFooter="true" Height="300px"
                          @bind-SelectedItem="SelectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
                          RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
                          RowEditCommit="ItemHasBeenCommitted" IsEditRowSwitchingBlocked="@BlockSwitch">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Users Information</MudText>

                    </ToolBarContent>
                    <ColGroup>
                        <col style="width:30px;"/>
                        <col/>
                        <col/>

                    </ColGroup>
                    <HeaderContent>
                        <MudTh>
                            <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<UserElement, object>(x => x.UserId)">Username</MudTableSortLabel>
                        </MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<UserElement, object>(x => x.Password)">Password</MudTableSortLabel>
                        </MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<UserElement, object>(x => x.Salt)">Salt</MudTableSortLabel>
                        </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Username">@context.UserId</MudTd>
                        <MudTd DataLabel="Password">@context.Password</MudTd>
                        <MudTd DataLabel="Salt">@context.Salt</MudTd>
                    </RowTemplate>
                    <RowEditingTemplate>
                        <MudTd DataLabel="Username">@context.UserId</MudTd>
                        <MudTd DataLabel="Password">@context.Password</MudTd>
                        <MudTd DataLabel="Salt">@context.Salt</MudTd>
                    </RowEditingTemplate>
                    <PagerContent>
                        <MudTablePager/>
                    </PagerContent>
                </MudTable>

                <MudExpansionPanels Style="flex: 1;">
                    <MudExpansionPanel Text="Debug Information Log">
                        @foreach (var message in _editEvents)
                        {
                            <MudText>@message</MudText>
                        }
                        @if (_editEvents.Count > 0)
                        {
                            <div class="d-flex">
                                <MudSpacer/>
                                <MudButton Class="mt-3" ButtonType="ButtonType.Button" Variant="Variant.Filled" OnClick="ClearEventLog">Clear event log</MudButton>
                            </div>
                        }
                    </MudExpansionPanel>
                </MudExpansionPanels>
            }
        }
    }
}

@code
{
    // For Page specific code
    private string? _username;
}

@code
{
    //Template code

    protected override async Task OnInitializedAsync()
    {
        var result = await _sessionStore.GetAsync<string>("User");
        if (result.Value is not {Length: > 1 }) _navMgr.NavigateTo("/");
    }

    private bool _add;
    private bool _delete;
    private bool _password;
    private bool _view = true;

    private void ShowAdd()
    {
        _add = true;
        _delete = false;
        _password = false;
        _view = false;
    }

    private void ShowDelete()
    {
        _add = false;
        _delete = true;
        _password = false;
        _view = false;
    }

    private void ShowChangePassword()
    {
        _add = false;
        _delete = false;
        _password = true;
        _view = false;
    }
    
    private void ShowView()
    {
        _add = false;
        _delete = false;
        _password = false;
        _view = true;
    }
    

    private void FillTable()
    {
        if (_username is null or "") _username = "%";
        _elements = UserService.GetUsers(_stateService.GetAppInfo(), _username!);
        _username = String.Empty;
    }
}

@code
{
    private readonly List<string> _editEvents = new();
        private const bool BlockSwitch = false;
    public UserElement? SelectedItem1;
    private UserElement? _elementBeforeEdit;
    private IEnumerable<UserElement> _elements = new List<UserElement>();

    private void ClearEventLog()
    {
        _editEvents.Clear();
    }

    private void AddEditionEvent(string message)
    {
        _editEvents.Add(message);
        StateHasChanged();
    }

    private void BackupItem(object element)
    {
        _elementBeforeEdit = new UserElement
        {
            UserId = ((UserElement) element).UserId,
            Password = ((UserElement) element).Password,
            Salt = ((UserElement) element).Salt
        };
        AddEditionEvent($"RowClick Selected {((UserElement) element).UserId}");
    }

    private void ItemHasBeenCommitted(object element)
    {
    //TODO add the update to the user table
        AddEditionEvent($"RowSave {((UserElement) element).UserId}");
    }

    private void ResetItemToOriginalValues(object element)
    {
        ((UserElement) element).UserId = _elementBeforeEdit!.UserId;
        ((UserElement) element).Password = _elementBeforeEdit.Password;
        ((UserElement) element).Salt = _elementBeforeEdit.Salt;
        AddEditionEvent($"RowSwitch away from {((UserElement) element).UserId}");
    }
}

@code {
    readonly AddUserForm _addUserForm = new AddUserForm();
    public bool Success;
    public string? AddErrors;

    public class AddUserForm
    {
        [Required]
        [StringLength(30, ErrorMessage = "Name length can't be more than 30.", MinimumLength = 4)]
        public string? Username { get; set; }

        [Required]
        [StringLength(100, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string? Password { get; set; }

        [Required]
        [Compare(nameof(Password))]
        public string? Password2 { get; set; }
    }

    private void OnValidSubmit(EditContext context)
    {
        var info = UserService.LoadUser(_stateService.GetAppInfo(), _addUserForm.Username!, "", false);
        if ( info.UserId == _addUserForm.Username)
        {
            AddErrors = $"User {_addUserForm.Username} already exist ";
            return; 
        }
        Success = UserService.AddUser(_stateService.GetAppInfo(), _addUserForm.Username!, _addUserForm.Password!);
        if (!Success)
        {
            AddErrors = $"Adding User {_addUserForm.Username} failed";
            return;
        }
        _addUserForm.Username = "";
        _addUserForm.Password = "";
        _addUserForm.Password2 = "";
        StateHasChanged();
    }

}